assets/*
!assets/.gitignore
protected/runtime/*
!protected/runtime/.gitignore
protected/data/*.db
themes/classic/views/
.DS_Store


src/web/vendor
src/web/node_modules
src/web/public/storage
Homestead.yaml
Homestead.json
.env
