<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

  <% include ../partials/nav.ejs %>

<div class="container">
  <div>
    <h1>Dummy Target</h1>
    <p>Hello i'm here to be attacked</p>
  </div>
</div>


</body>
</html>
